/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
body {
    background: rgb(120, 213, 236);
  }
  h1 {
    font-family: arial;
    font-size: 75px;
    text-transform: uppercase;
    color:rgb(160, 133, 64);
    text-align: center;
    padding: 70px;
  }
  h2 {
    font-family: arial;
    font-size: 30px;
    color: rgb(68, 64, 93);
    font-weight:bold;}
  h3 {
    font-family: arial;
    color: rgb(68, 64, 93);
    font-size: 30px;
    font-weight:bold;
  }
  p {
    font-family: arial;
    color: rgb(68, 64, 93);
    font-size: 25px;
  }
  a {
    font-family: arial;
    color:  rgb(24, 173, 211);;
    text-decoration: none;
    font-size: 20px;
  }
  .newlogo {
    font-family: arial;
    text-transform: uppercase;
    color: rgb(68, 64, 93);
    text-align: left;
    float: left;
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    background: rgb(24, 173, 211);
    border-radius: 30px;
    font-style: Helvetica;
  }
  .navigation {
    font-family: arial;
    color: rgb(24, 173, 211);
    font-size: 25px;
  }
  /* Giving our navbar some padding and a background color */
  .navbar {
    padding: 20px;
    background:  rgb(133, 132, 139);
    border-radius: 60px;
    margin: 40px;
    text-align: right;
  }
  /* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. Floats could have been used too */
  .navbar li {
    display: inline-block;
    padding: 10px;
    margin-left: 5px;
    cursor: pointer;
    background: rgb(24, 173, 211);
    border-radius: 30px;
    font-style: Helvetica;
  }
  .box {
    padding: 20px;
    color: rgb(68, 64, 93);
    background: rgb(24, 173, 211);
  }
  .box img{
    max-width: 100%;
    max-height: 100%;
    float: left;
    padding: 20px;
  
  }
  .image{
    float:left;
  }
  
  .table{
    color: rgb(68, 64, 93);
    font-size: 20px;
  }