/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
body {
    background: rgb(120, 213, 236);
  }

h1 {
  line-height: 50px;
}

iframe {
  margin: 15px;
}


 

  

